<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User ID</key>
	<string>10153433568951071</string>
	<key>User Type</key>
	<string>FB</string>
	<key>Server URL</key>
	<string>http://52.27.238.26:8080/</string>
	<key>kkk</key>
	<string></string>
</dict>
</plist>
