<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User ID</key>
	<string>10153433568951071</string>
	<key>User Type</key>
	<string>FB</string>
	<key>User Name</key>
	<string></string>
	<key>User Link</key>
	<string></string>
	<key>User Gender</key>
	<string></string>
	<key>User Email</key>
	<string></string>
	<key>User Birthday</key>
	<string></string>
	<key>User Locale</key>
	<string></string>
	<key>Verb Notify</key>
	<string>0</string>
	<key>Sound Notify</key>
	<string>0</string>
	<key>Server URL</key>
	<string>http://52.27.238.26:8080/</string>
</dict>
</plist>
